<!-- <ng2-slim-loading-bar></ng2-slim-loading-bar> -->
<div class="sidebar" data-color="red" data-image="../../../assets/icons/sidebar-bg.jpg">

    <!--
        Tip 1: You can change the color of the sidebar using: data-color="red | blue | green | orange | red"
      Tip 2: you can also add an image using data-image tag
    -->
  <div class="logo">
    <a href="/" class="simple-text">
      <span><img src="assets/icons/logo.png" style="width: 30px;height: 30px;"></span>   <b>Footy</b>Filter
    </a>
  </div>
<!-- routerLink="/team/:id" -->
  <div class="sidebar-wrapper">
    <ul class="nav" *ngFor="let team of oneTeam">
        <li (click)="onSelectedTeam(team)" routerLinkActive="active">
          <a href="javascript:void(0);">
            <img src="{{team.crest}}" style="width:20px; height:20px;">
            {{team.name}}
          </a>
      </li>
    </ul>
  </div>
</div>

<!--
league table of another competition eg la liga
get all the team players -->
