<div class="card">
  <div class="card-header" role="tab" id="headingThree" data-background-color="green">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Head to Head
      </a>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="card-content">
      <span>
        <h4 style="text-align: center;"><strong>Select a rival team</strong></h4>
        <a href="javascript:void(0);" *ngFor="let team of otherTeams" class="image">
            <img src="{{team.logo}}"
            style="width:70px;height:70px; margin-top:10px; margin-right:5px;"
            (click)="getSelectedTeam(team.name)"/>
        </a>
        <hr>
      </span>

      <span *ngFor="let game of selectedResults">
        <p><i><small>Date: {{game.date}},</small> <small>Match Day: {{game.matchday}}</small></i></p>
        <p>{{game.teamName}}
          &nbsp; &nbsp;<b>{{game.myresult}} - {{game.rivalresult}}</b>
          &nbsp; &nbsp;{{game.rival}}</p>
        <hr>
      </span>
      <canvas id="myChart" width="200" height="200"></canvas>
    </div>
  </div>
</div>
