<div class="card">
  <div class="card-header" role="tab" id="headingTwo"  data-background-color="red">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        All games this season
      </a>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="card-content">
      <span *ngFor="let game of allResults">
        <p><i><small>Date: {{game.date}},</small> <small>Match Day: {{game.matchday}}</small></i></p>
        <p>{{game.teamName}}
          &nbsp; &nbsp;<b>{{game.myresult}} - {{game.rivalresult}}</b>
          &nbsp; &nbsp;{{game.rival}}</p>
        <hr>
      </span>
    </div>
  </div>
</div>
