<div id="wrapper">
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary table-responsive">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> EPL League Table </h3>
            </div>
            <div class="panel-body">
                <div id="shieldui-grid1">
                  <table class="table" id="league">
                    <tr>
                    <!-- team name, played, won, loss,draw, goals FOR, goals AGAINST, gDifference, pts -->
                    <th>Club</th>
                    <th>Played</th>
                    <th>Win</th>
                    <th>Lost</th>
                    <th>Draw</th>
                    <th>Goals For</th>
                    <th>Goals Against</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                  </tr>
                  <tr *ngFor="let table of leagueInfo">
                      <td><img src="{{table.crestURI}}" alt="" height="15" width="15">      {{table.teamName}}</td>
                      <td>{{table.playedGames}}</td>
                      <td>{{table.wins}}</td>
                      <td>{{table.losses}}</td>
                      <td>{{table.draws}}</td>
                      <td>{{table.goals}}</td>
                      <td>{{table.goalsAgainst}}</td>
                      <td>{{table.goalDifference}}</td>
                      <td>{{table.points}}</td>
                  </tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
