<div class="main-panel">
  <nav class="navbar navbar navbar-absolute">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search">
          <!-- <div class="form-group  is-empty">
              <input type="text" class="form-control" placeholder="Search">
              <span class="material-input"></span>
          </div>
          <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i><div class="ripple-container"></div>
          </button> -->
        </form>
       </div>
    </div>
  </nav>

  <div class="content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                 <div class="card">
                     <div class="card-header" data-background-color="red">
                         <h4 class="title">English Premiere League</h4>
                         <p class="category">League Table 2016/17</p>
                     </div>
                     <div class="card-content table-responsive">
                         <table class="table">
                             <thead class="text-primary-red">
                               <th>Rank</th>
                               <th>Club</th>
                               <th>Played</th>
                               <th>Win</th>
                               <th>Lost</th>
                               <th>Draw</th>
                               <th>GF</th>
                               <th>GA</th>
                               <th>GD</th>
                               <th>Points</th>
                             </thead>
                             <tbody>
                                 <tr *ngFor="let table of leagueInfo">
                                   <td>{{table.position}}</td>
                                   <td>
                                     <img src="{{table.crestURI}}"
                                     style="width:15px;height:15px;">
                                     {{table.teamName}}
                                   </td>
                                   <td>{{table.playedGames}}</td>
                                   <td>{{table.wins}}</td>
                                   <td>{{table.losses}}</td>
                                   <td>{{table.draws}}</td>
                                   <td>{{table.goals}}</td>
                                   <td>{{table.goalsAgainst}}</td>
                                   <td>{{table.goalDifference}}</td>
                                   <td>{{table.points}}</td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
          </div>
      </div>
  </div>
</div>
<!-- <footer class="footer">
  <div class="container-fluid">
      <p class="copyright pull-right">
          &copy; 2017 <a href="#">FootyFilter</a>, made with love for football fans
  </div>
</footer> -->
