<div class="card">
  <div class="card-header" role="tab" id="headingOne" data-background-color="green">
    <h5 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Previous 5 Games
      </a>
    </h5>
  </div>

  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-content">
      <span *ngFor="let game of lastFive">
        <p><i><small>{{game.date | date}},</small> <small>Match Day: {{game.matchday}}</small></i></p>
        <p>{{game.teamName}}
          &nbsp; &nbsp;<b>{{game.myresult}} - {{game.rivalresult}}</b>
          &nbsp; &nbsp;{{game.rival}}</p>
        <hr>
      </span>
      <canvas id="myChart" width="200" height="200"></canvas>

    </div>
  </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
           <div class="card">
               <div class="card-header" data-background-color="red">
                   <h4 class="title"><strong>{{myTeam}}</strong> Last five games</h4>
               </div>
               <div class="card-content">
                 <span *ngFor="let game of lastFive">
                     <p><i><small>Date: {{game.date}},</small> <small>Match Day: {{game.matchday}}</small></i></p>
                     <p>{{game.teamName}}
                       &nbsp; &nbsp;<b>{{game.myresult}} - {{game.rivalresult}}</b>
                       &nbsp; &nbsp;{{game.rival}}</p>
                   <hr>
                 </span>
               </div>
          </div>
       </div>
    </div>
</div> -->
