<div class="main-panel">
<nav class="navbar navbar navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-right" routerLink="/">
        <!-- <div class="form-group  is-empty">
            <a href="">La Liga League Table</a>
        </div> -->

        <button class="btn btn-primary btn-block" (click)="changeLeague()" id="btn">
          Home
        </button>

      </form>
    </div>
  </div>
</nav>

<div class="content">

  <!-- <router-outlet></router-outlet> -->
    <!-- <h3>Team: {{teamName}} </h3> -->
    <!-- <button class="primary btn">View last game</button>
    <button class="primary btn">View last 5 games</button>
    <button class="primary btn">View all games this season</button> -->
  <app-last-game [nameOfTeam]="teamName"></app-last-game>
  <div class="col-md-6">
     <div id="accordion" role="tablist" aria-multiselectable="false">
        <app-last-five [nameOfTeam]="teamName"></app-last-five>
      </div>
  </div>
  <div class="col-md-6">
    <app-head-to-head [nameOfTeam]="teamName"></app-head-to-head>
  </div>
  <div class="col-md-6">
    <app-all-games [nameOfTeam]="teamName"></app-all-games>
  </div>
  <div class="col-md-6">
    <app-upcoming-games [nameOfTeam]="teamName"></app-upcoming-games>
  </div>
    <app-get-players [nameOfTeam]="teamName"></app-get-players>
</div>
    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
              Made with &hearts; <a href="/">FootyFilter</a> 2017
        </div>
    </footer>
</div>
