<div class="main-panel">
<nav class="navbar navbar navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse">
      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group  is-empty">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      </form> -->
    </div>
  </div>
</nav>

<div class="content">
    <h3>Team: {{teamName}} </h3>
    <button class="primary btn">View last game</button>
    <button class="primary btn">View last 5 games</button>
    <button class="primary btn">View all games this season</button>
    <app-last-game [nameOfTeam]="teamName"></app-last-game>

   <div id="accordion" role="tablist" aria-multiselectable="false">
      <app-last-five [nameOfTeam]="teamName"></app-last-five>
      <app-all-games [nameOfTeam]="teamName"></app-all-games>
      <!-- <app-head-to-head></app-head-to-head> -->

    </div>
</div>
    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                &copy; 2017 <a href="#">FootyFilter</a>
        </div>
    </footer>
</div>
